@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    color: #000000;
    padding-top: 25px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    min-height: 70px;
    background-color: rgb(117, 117, 117);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: rgb(218, 218, 218);
}

.IG {
    display: none; /* Hide on smaller screens */
}

.carrito {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    stroke: #000000;
}

.count-products {
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
}

.conteiner-cart-products {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #4d4d4dcc;
    border: none;
    width: 400px;
    z-index: 1;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-products {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.cart-total-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.total-pagar {
    font-size: 20px;
    font-weight: 600;
}

.haidden-cart {
    display: none;
}



.Formato-fondo {
    background-image: linear-gradient(rgb(120, 120, 120), rgba(161, 161, 161, 0.687), rgb(255, 255, 255), #fff);
}

.spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Altura del espacio en blanco */
}

.spacer img {
    height: 200px;
    border-radius: 5%;
}

.conteiner-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* Espacio entre los ítems */
    justify-content: center; /* Centra el grid en el contenedor */
    padding: 20px; /* Espacio interior del contenedor */
}

.item {
    border-radius: 20px;
    background-color: rgb(209, 209, 209);
    padding: 20px; /* Espacio interior de cada ítem */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.664); /* Añade una sombra ligera */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido de cada ítem horizontalmente */
    transition: box-shadow 0.3s;
    max-width: 300px; /* Ancho máximo de cada ítem */
    margin: auto; /* Centra cada ítem dentro de su celda de grid */
}

.item:hover {
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 0.5s;
}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    padding: 10px 0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido dentro de la info-product */
    gap: 10px;
}

.price {
    font-size: 18px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background: none;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    cursor: pointer;
}

/* pie de pajina */
.pie-de-pagina {
    background-color: rgba(0, 0, 0, 0.254);
    width: 100%; /* Asegura que el pie de página ocupe el ancho completo de la página */
}

.pie-de-pagina .grupo-1 {
    width: 100%; /* Ajusta el ancho del grupo-1 para que ocupe el 100% */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-de-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .grupo-1 .box figure img {
    width: 300px;
}

.pie-de-pagina .grupo-1 .box h2 {
    color: #000000;
    margin-bottom: 25px;
    font-size: 20px;
    cursor: pointer;
}

.pie-de-pagina .grupo-1 .box p {
    color: #2c2c2c;
    margin-bottom: 10px;
}

.pie-de-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
}

.footer-container {
    width: 100%;
}

.grupo-2 {
    text-align: center;
    padding: 20px 0;
}

.grupo-2 small {
    font-size: 14px;
    color: #2c2c2c;
}


/* Responsive Design */
@media (max-width: 1200px) {
    header {
        flex-direction: column;
    }

    .IG {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .conteiner-cart-products {
        width: 300px;
    }
}

@media (max-width: 900px) {
    .conteiner-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .conteiner-items {
        grid-template-columns: repeat(1, 1fr);
    }

    header {
        padding: 20px;
    }

    nav {
        padding: 10px 0px;
    }

    .pie-de-pagina .grupo-1 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}